footer {
  padding: 25px 0;
  text-align: center;
  position: fixed;
	width: 100%;
}

ul.social-buttons li a {
  display: inline-block;
  
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #e74c3c;
}

.list-inline{
  display: inline-block;
  list-style-type: none;
}